body {
  margin: 0;
  padding: 0;
  font-family: "Onest";
}

.navbar {
  width: 100%;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-bottom: 1px solid #000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-items {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-items li {
  font-size: 1rem;
  cursor: pointer;
}

.nav-items li:hover {
  color: rgb(122, 122, 255);
  transform: translateY(-2px);
}

/* Card Styling */
.card {
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f6fc;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
  background-color: #ebeeff; /* subtle color shift */
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.card h1 {
  margin-top: 15px;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
}

.card p {
  margin-left: 5px;
  font-size: 1rem;
}

.card-btn {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 300;
  background-color: rgb(122, 122, 255);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background-color: rgb(104, 104, 253);
  transform: rotate(-2deg) scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
}

/* Card Section Styling */

.cards-container {
  margin: 30px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}
