* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans";
  background: #fafafa;
}

.parent {
  width: 100%;
  padding: 30px 30px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  height: 320px;
  width: 280px;
  padding: 30px;
  background: white;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 35x;
  width: 35px;
  /* border-radius: 50%; */
  /* border: 1px solid #dadada; */
  object-fit: cover;
}

.top button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 8px;
  color: #cccccc;
  background-color: transparent;
  border: 1px solid #dadada;
}

.middle{
  padding-top: 20px;
}

.middle h3 {
  font-size: 19px;
  font-weight: 500;
}

.middle h3 span {
  font-size: 14px;
  color: #afafaf;
}

.middle h2 {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 700;
}

.middle .tags {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  border-radius: 20px;
  padding-bottom: 50px;
}

.middle .tags p {
  background-color: #ececec;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}

.bottom {
  display: flex;
  padding-top: 10px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dadada;
}

.bottom h3 {
  font-size: 18px;
}

.bottom p {
  padding-top: 3px;
  font-size: 12px;
  color: #9c9c9c;
}

.bottom button {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
}
